<!DOCTYPE html>
<html lang="en">
<body>
<div style="border: 2px dotted gray; border-radius: 5px; padding: 4px">
    <div style="margin: 5px; padding: 4px; font-size: 1.2em; font-weight: bold;
     text-align: center; background-color: #99CCFF; border-radius: 4px;">
        <p style="margin: 5px; padding: 4px">Verified Successfully</p>
    </div>

    <div style="padding: 4px; margin: 5px">
        <p>We have verified your email, now you can reset your password<br>
            Please reset your password by clicking: <a href={0}>Here</a>.&nbsp;
            or you can copy and paste the following link into the address bar of your browser:<br>
        </p>
    </div>

    <div style="font-size: small; color: grey; padding: 4px">
        <p style="text-align: right">
            For more information please contact us at:<br>
            Weekday<br>
            Weekday development group, 12345 Commonwealth Ave, Boston, MA, 02135<br>
            123-456-7890<br>
            www.weekday.com
        </p>
    </div>
</div>
</body>
</html>