<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset password</title>
    <object th:include="fragments/header::header" th:remove="tag"></object>
</head>

<body>
<div class="container" style="height: 920px">
    <div class="row">
        <div class="col-1 col-md-2 col-xl-3"></div>
        <div class="col-10 col-md-8 col-xl-6">
            <div class="text-center mt-3 mb-4">
                <img class="" src="/static/images/logo.png" alt="" width="150" height="70">
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="font-weight-normal text-center">Reset your password</h2>
                    <form th:action="@{/resetPassword}" method="post">

                        <div id="reset-pwd" class="form-group">
                            <label for="password">Password *</label>
                            <password></password>
                        </div>

                        <div class="form-group" style="display: none">
                          <label for="encode"></label>
                          <input type="text" name="encode" id="encode">
                        </div>

                        <div id="confirmPassword" class="form-group">
                            <label for="confirmPassword">Confirm Password *</label>
                            <confirm></confirm>
                        </div>

                        <div>
                            <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" disabled>
                                Submit
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<object th:include="fragments/passwordFooter::passwordFooter" th:remove="tag"></object>

</body>

</html>