<!DOCTYPE html>
<html lang="en">
<body>
<info>
    <div id="user-info">
        <div class="row user-overview">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 ml-4">
                <h6 class="user-overview-title">Overview</h6>
            </div>
        </div>

        <div class="row user-info">
            <div class="col-lg-4"></div>
            <div class="col-lg-6 ml-4">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="/static/images/person.svg" width="25px" height="25px" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Name:</span>
                        <div class="user-info-div"><p id="show-name" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row user-info-line">
                    <div class="col-lg-1">
                        <img src="/static/images/tag.svg" width="25px" height="25px" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Label:</span>
                        <div class="user-info-div"><p id="show-label" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row user-info-line">
                    <div class="col-lg-1">
                        <img src="/static/images/envelope.svg" width="25px" height="25px" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Email:</span>
                        <div class="user-info-div"><p id="show-email" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row user-info-line">
                    <div class="col-lg-1">
                        <img src="/static/images/telephone.svg" width="25px" height="25px" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Phone:</span>
                        <div class="user-info-div"><p id="show-phone" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row user-info-line">
                    <div class="col-lg-1">
                        <img src="/static/images/calendar2-check.svg" width="25px" height="25px" alt=""
                             srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Birthday:</span>
                        <div class="user-info-div"><p id="show-birthday" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row user-info-line">
                    <div class="col-lg-1">
                        <img src="/static/images/clock.svg" width="25px" height="25px" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 user-info-font">
                        <span>Time Zone:</span>
                        <div class="user-info-div"><p id="show-zone" class="user-info-content"></p></div>
                    </div>
                </div>

                <div class="row">
                    <button id="btnEdit" class="btn btn-primary btn-user-info-edit">Edit profile</button>
                </div>
            </div>
        </div>
    </div>
</info>
</body>
</html>