<!DOCTYPE html>
<html lang="en">
<body>
<uploadAvatar>
    <div id="upload-avatar" class="row" style="display: none">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div id="uploader" class="upload">
                <div class="queueList">
                    <div id="select-list" class="placeholder">
                        <div id="filePicker" class="webuploader-container"></div>
                    </div>
                    <div id="upload-list" class="filelist" style="display: none">
                    </div>
                </div>
                <div class="statusBar" style="display: none">
                    <div class="progress" style="display: none">
                        <span class="text">0%</span>
                        <span class="percentage" style="width: 0;"></span>
                    </div>
                    <div class="info"></div>
                    <div class="btns">
                        <div class="uploadBtn state-pedding">upload</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uploadAvatar>
</body>
</html>