<!DOCTYPE html>
<html lang="en">
<body>
<userAvatar>
    <div id="user-info-top" class="user-info-top">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 mt-3 text-center">
                <img id="user-avatar" class="user-avatar" src="/static/images/head.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center user-username">
                <p id="show-username" class="user-info-content"></p>
            </div>
        </div>
    </div>
</userAvatar>
</body>
</html>