/*
 * login
 */
.login-card{
    padding: 20px 40px;
}
.login-line{
    padding: 20px;
}
.login-line .col-5{
    margin-top: 13px;
    height: 1px;
    border: 1px solid grey;
}
#login-password span,
#register-pwd span,
#reset-pwd span{
    padding: 10px 20px;
}
.login-google{
    margin-left: 21%;
}
.login-git{
    background-color: #696969;
    height: 50px;
    width: 240px;
    border: none;
    color: #fff;
    margin: 10px 0 0 21%;
    padding: 0;
}
.login-border{
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
}
.login-left{
    padding: 15px;
    float: left;
    background-color: #fff;
    border-radius: 1px;
}
.login-img{
    width: 18px;
    height: 18px;
}
.login-img img{
    vertical-align: unset;
}
.login-right{
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}