<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/weekday.css">
</head>
<body>
  <footer>
    <script src="/static/js/google-login.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<!--    <script type="text/javascript" src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/vue/2.6.12/dist/vue.min.js"></script>
    <script src="webjars/http-vue-loader/1.4.2/src/httpVueLoader.js"></script>
    <script type="module" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<!--    socket connect -->
    <script type="module" src="/static/js/net/socketConnect.js"></script>
    <!-- page js -->
    <script type="module" src="/static/js/page/login.js"></script>
    <script type="module" src="/static/js/page/nav-bar.js"></script>
    <script type="module" src="/static/js/page/friend-bar.js"></script>
    <script type="module" src="/static/js/page/team.js"></script>
    <script type="module" src="/static/js/page/user-info.js"></script>
    <script type="module" src="/static/js/page/chat.js"></script>
    <script type="module" src="/static/js/page/project.js"></script>
    <script type="module" src="/static/js/page/task.js"></script>
    <script type="text/javascript" src="/static/js/web-uploader.min.js"></script>
    <!-- action js -->
    <script type="module" src="/static/js/action/loginAction.js"></script>
    <div class="weekday-footer">
      <div class="container text-center">
        <span class="text-muted">Welcome to <a href="/main">Weekday</a> &copy; 2020</span>
      </div>
    </div>
  </footer>
</body>
</html>
