<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-signin-client_id" content="550032846021-t6q51vov5qulh903logndgjhhn6tcncf.apps.googleusercontent.com">

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css" rel="stylesheet">

	<!-- custom styles -->
	<link type="text/css" rel="stylesheet" href="/static/css/common.css">
	<link type="text/css" rel="stylesheet" href="/static/css/login-register.css">
	<link type="text/css" rel="stylesheet" href="/static/css/project.css">
	<link type="text/css" rel="stylesheet" href="/static/css/user.css">
	<link type="text/css" rel="stylesheet" href="/static/css/chat.css">
	<link type="text/css" rel="stylesheet" href="/static/css/web-uploader.css">

</head>
<body>

</body>
</html>