<!DOCTYPE html>
<html lang="en">
<body>
<passwordFooter>
    <script type="text/javascript" src="webjars/vue/2.6.12/dist/vue.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="/static/js/page/resetPassword.js"></script>

    <div class="weekday-footer">
        <div class="container text-center">
            <span class="text-muted">Welcome to <a href="/main">Weekday</a> &copy; 2020</span>
        </div>
    </div>
</passwordFooter>
</body>
</html>