<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forget your password?</title>
    <object th:include="fragments/header::header" th:remove="tag"></object>
</head>

<body>
<div id="forgetPWD" class="container" style="height: 920px">
    <div class="row">
        <div class="col-2 col-md-3 col-xl-4"></div>
        <div class="col-8 col-md-6 col-xl-4">
            <div class="text-center mt-3 mb-4">
                <img class="" src="/static/images/logo.png" alt="" width="150" height="70">
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="text-center mt-2 mb-2">
                        <img src="/static/images/lock.svg" alt="" style="width: 60px;">
                    </div>
                    <h3 class="text-center">Can't login?</h3>
                    <p class="text-center">Please enter your email so that we can send you a link to retrieve your account</p>
                    <form th:action="@{/forgetPassword}" method="post">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <button class="mt-2 btn btn-lg btn-primary btn-block" type="submit">
                            Send login link
                        </button>
                    </form>
                    <div class="row login-line">
                        <div class="col-5"></div>
                        <div class="col-2 text-center">or</div>
                        <div class="col-5"></div>
                    </div>
                    <div class="main_heading-4 text-center">
                        <a href="/register">Create</a> a new account
                    </div>
                </div>
            </div>
            <div class="card login-card">
                <div class="main_heading-4 text-center">
                    <a href="/index">Return login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<object th:include="fragments/passwordFooter::passwordFooter" th:remove="tag"></object>

</body>

</html>