<!DOCTYPE html>
<html lang="en">
<body>
<updateTask>
    <div id="update-task" class="container task">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p class="task-title">Update Task</p>
                <button id="btn-update-task" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 table-responsive">
                <table class="table">
                    <thead>
                    <tr class="th-font">
                        <th>Name</th>
                        <th>Content</th>
                        <th>Owner</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Complexity</th>
                    </tr>
                    </thead>
                    <tbody id="update-table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</updateTask>
</body>
</html>